<h1>Listing documents</h1>

<table>
  <tr>
    <th>Name</th>
    <th>In date</th>
    <th>Out date</th>
    <th>Recieve date</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'document', :collection => @documents %>
</table>

<br />

<%= link_to 'New Document', new_document_path %>
<p><%= link_to 'Statuses', statuses_path %></p>
